.map {
float:right;
position:fixed !important;
top:0;
right:0;
}


#councils_list {
width:30%;
margin-right:2em;
float:left;
}

#councils_list li {
clear:both;
position:relative;
}

#councils_list .street_view {
float:left;
width:125px;
height:145px;
position:relative;
margin-right:1em;
}


#councils_list .see_also {
position:absolute;
top:0;
right:0;
}
#councils_list .see_also li {
list-style-type:none;
float:right;
clear:none;
margin-right:0.5em;
}

.icon_feed,
.icon_twitter {
height:28px;
width:28px;
display:block;
text-indent:-9999px;
background-repeat:no-repeat;
}
.icon_feed {
background-image:url(../images/feed-icon-28x28.png);
}
.icon_twitter {
background-image:url(../images/twitter_icon.png);
}

.site_nav_global li {
float:left;
margin:0 1em 0 0;
padding:0 1em 0 0;
border-right:1px solid #ccc;
list-style-type:none;
}
.site_nav_global li:last-child {
border-right:0;
}


#galway-logo { float: left; margin: 0 1em 1em 0; }
#footer { clear: left; border-top: 1px solid #bbb; padding-top: 0.3em; margin-bottom: 1.4em; }
#footer a {text-decoration:none;font-size:1em;}
#footer td{padding:10px;}
#deri-logo { float: right; }


