h1 {
position:relative;
z-index:9;
}

#ireland_map {
float:right;
position:relative;
top:-60px;
right:-20px;
margin-left:-40px;
width:475px;
}

#ireland_map .notes {
margin-top:-15px;
margin-left:3em;
}

#councils_list {
position:relative;
z-index:9;
padding-left:0;
margin-right:1em;
float:left;
width:500px;
}

#councils_list > li {
float:left;
width:100%;
clear:both;
position:relative;
list-style-type:none;
margin-bottom:1em;
}


#councils_list li h3 {
margin:0 0 0.5em 4em;
}

#councils_list .see_also {
position:absolute;
top:0;
left:0;
margin-left:0;
padding-left:0;
}
#councils_list .see_also li {
list-style-type:none;
float:left;
clear:none;
margin-right:0.5em;
}


#councils_list li h4 {
margin:0 0 0.5em 0;
}

#councils_list .recent_application {
position:relative;
float:left;
width:490px;
background-color:#e7e7e7;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
padding:10px;
}

#councils_list .recent_application p {
margin:0.5em 0;
}

#councils_list .address,
#councils_list .details {
max-width:280px;
}

#councils_list .details {
margin-bottom:0.1;
}

#councils_list .more {
margin:0;
width:275px;
text-align:right;
position:absolute;
bottom:0;
}

#councils_list .street_view {
float:right;
width:200px;
height:105px;
position:absolute;
top:10px;
right:10px;
margin-left:1em;
}

.icon_feed,
.icon_twitter {
height:28px;
width:28px;
display:block;
text-indent:-9999px;
background-repeat:no-repeat;
}
.icon_feed {
background-image:url(../images/feed-icon-28x28.png);
}
.icon_twitter {
background-image:url(../images/twitter_icon.png);
}

#galway-logo { float: left; margin: 0 1em 1em 0; }
#footer { clear: left; border-top: 1px solid #bbb; padding-top: 0.3em; margin-bottom: 1.4em; }
#footer a {text-decoration:none;font-size:1em;}
#footer td{padding:10px;}
#deri-logo { float: right; }
