Options -Indexes
AddHandler application/x-httpd-php5 .php
AddDefaultCharset UTF-8

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule (latest|all|near) api.php [L,NC,QSA]

#RewriteRule ^(.*) index.php [L,NC,QSA]
