body{
font-family: Gill Sans, Arial, sans-serif;
}
#page {

background: white;
margin: 0px auto 20px;
width: 100%;
}
#contianer
{
float:right;
width:100%;
padding-top:100px;
}
#header{
width:100%;
border: 1px solid #D3D3D3;
}

#header h1{
margin-left: 150px;
margin-top: -80px;
margin-bottom: 50px;
font-family: Gill Sans, Arial, sans-serif;
}
#txt_header{
width:70%;
border: 1px solid #D3D3D3;
padding:10px 60px 10px 60px;
}

.map {
float:right;
}

div.title {


font-weight: bold;
padding: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
position: absolute;
top: 20px;
z-index: 2;
height: 100px;
text-align:center;
margin:auto;

}

.title a  {
font-weight:bold;
color:#3b5999;
margin-left: 150px;
margin-top: -100px;
text-decoration:none;
font-family: Gill Sans, Arial, sans-serif;
}

div.rounded {

font-weight: bold;
padding: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
position: absolute;
left: 90px;
top: 150px;
z-index: 2;
height: auto;
width: 500px;
background-color:#F5F5F5;
}

div.cocoitem{
font-weight: bold;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
z-index: 3;
height: auto;
width: 500px;


}

div.cocotitle {
height: 20px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color:#9ec7f3;
padding:5px;
text-decoration:none;
font-family: Gill Sans, Arial, sans-serif;
color:#3b5999;
text-align:left;
}
div.cocotitle span{
text-align:left;
cursor:pointer;
}

div.cocotitle span a{
text-decoration:none;
color:#3b5999;
}
div.cocotitle .rssicon {
height:20px;
width :20px;
float:right;
padding-left:10px;
display:none;
}

div.cocotitle .twiticon {
height:20px;
width :20px;
float:right;
display:none;
}

div.cocolatestPA{

margin-left:25px;
z-index: 3;
height: auto;

display:none;
}
div.rounded p {
font-weight:bold;
color:#3b5999;
font-family:tahoma;


}

#galway-logo { float: left; margin: 0 1em 1em 0; }
#footer { clear: left; border-top: 1px solid #bbb; padding-top: 0.3em; margin-bottom: 1.4em; }
#footer a {text-decoration:none;font-size:1em;}
#footer td{padding:10px;}
#deri-logo { float: right; }


