body{
font-family: Gill Sans, Arial, sans-serif;
}
#page {

	background: white;
	margin: 0px auto 50px;
	width: 1050px;
}
#contianer
{
float:right;
width:100%;
padding-top:100px;
}
#header{
width:100%;
border: 1px solid #D3D3D3;
}

#header h1{
margin-left: 150px;
margin-top: -80px;
margin-bottom: 50px;
font-family: Gill Sans, Arial, sans-serif;
}
#txt_header{
width:70%;
border: 1px solid #D3D3D3;
padding:10px 60px 10px 60px;
}

.map {
float:right;
}

div.title {


font-weight: bold;
padding: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
position: absolute;
left: 250px;
top: 20px;
z-index: 2;
height: 100px;


}

.title h1 {
 font-weight:bold;
  color:#3b5999;
  margin-left: 150px;
		margin-top: -100px;
		
		font-family: Gill Sans, Arial, sans-serif;
}
.title span {
 
  color:#3b5999;
  margin-left: 150px;
		margin-top: -100px;
		margin-bottom: 50px;
		font-family: Gill Sans, Arial, sans-serif;
}
div.rounded {

font-weight: bold;
padding: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
position: absolute;
left: 150px;
top: 200px;
z-index: 2;
height: 300px;
width: 400px;

}

div.rounded p {
font-weight:bold;
 color:#3b5999;
  font-family:tahoma;
  

}

#galway-logo { float: left; margin: 0 1em 1em 0; }
#footer { clear: left; border-top: 1px solid #bbb; padding-top: 0.3em; margin-bottom: 1.4em; }
#deri-logo { float: right; }

