h2 {
	text-shadow: 2px 2px 2px #aaa;
	margin: 10px;
	border-bottom: 1px solid #fff;
	font-weight: 300;
}

body { font-family: Verdana,Arial,sans-serif;}
#dynamarker { display: none; }
#mappan {  background: #f0f0f0; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius:8px; border-left: 1px solid #000;}
#palist { width: 300px; font-size: 80%; padding: .5em; float: left; }
#palist-vis { font-size: 120%; color: #a0a0a0; cursor: pointer;}
#palist-content { overflow: auto;}
#mainpan { margin: 0 0 0 320px; background: #fff; border-bottom: 1px solid #f0f0f0;}
#map { text-align: right; border: 1px solid #c0c0c0; border-right: 1px solid #000;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	}
#yearpan { width: 40%; float: left; padding: .2em;}
#yearrange { margin: 1em; width: 90%;}
#yearsel {  width: 100%; background: #fff; font-size: 200%; border: 0; text-align: center; float: left;}
#viewselpan { text-align: right; margin-right: 1px;}
.viewsel-tab { font-size: 200%; 
	padding: 0 1em .2em 1em;
	border: 1px solid #a0a0a0; 
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top: 0px;
	background: #f0f0f0;
	color: #a0a0a0;
	cursor: pointer;
}
.viewsel-tab-selected {
	border: 1px solid #000;
	border-top: 0px;
	background: white;
	color: #000;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}
.singlepa {
	margin: 10px 5px 5px 15px;
	padding: 5px;
	cursor: pointer;
	border-bottom: 1px dotted #fff;
}
.yearsellabel {
	text-align: center;
	color: #606060;
}
.active-pa {
	border: 1px dotted red;
}