body { font-family: Verdana,Arial,sans-serif;}

#addresspan {
	text-align: center;
	padding: 10px;
}

#target-address {
	font-size: 200%;
}

#dynamarker { display: none; }

#archive-widget {
	background: #fff;
}

#viewselpan { 
	margin: 20px 0 0 0; 
}

.viewsel-tab { font-size: 150%; 
	padding: 0 1em .2em 1em;
	border: 1px solid #a0a0a0; 
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background: #f0f0f0;
	color: #a0a0a0;
	cursor: pointer;
}

.viewsel-tab-selected {
	border: 1px solid #000;
	background: white;
	color: #000;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}

#sv-current-pos, #sv-pov {
	padding: 0 0 0 20px;
	font-size: 80%;
	color: #6f6f6f;
}

#map {
	float: left;
	text-align: right;
	border: 1px solid #c0c0c0; 
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#controlpan {
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
}

#controlpan h2 {
	text-shadow: 2px 2px 2px #aaa;
	margin: 0;
	padding: 3px 0 5px 10px;
	border: 1px solid #e0e0e0;
	font-weight: normal;
}

.controlfield {
	border-left: 1px dotted #e0e0e0;
	border-right: 1px dotted #e0e0e0;
	border-bottom: 1px dotted #e0e0e0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #f0f0f0;
}

.vseparator {
	clear: both;
	height: 20px;
}

.hseparator {
	float: left;
	width: 20px;
	height: 100%;
	border: 1px solid #f0f0f0;
}

#filterpan {
	padding: .5em;
	height: 200px;
}

.filterlabel {
	text-align: left;
	color: #606060;
	font-size: 12pt;
	margin: 0 0 10px 0;
}

#yearpan {
	width: 60%;
	float: left;
}

#yearrange {
	margin: 1em; 
}

#yearsel {
	width: 100%;
	background: #f0f0f0;
	font-size: 200%;
	border: 0;
	text-align: center;
}


#legendpan {
	width: 30%;
	float: left;
	cursor: pointer;
	text-align: center;
	font-size: 80%;
}

#palist { 

	padding: .5em; 
}

#palist-content {
	overflow: auto;
}

#palist-cloud {
	border-top: 1px solid #6f6f6f;
	text-align: center;
	width: 95%;
	padding: .5em;
}

#palist-cloud div {
	margin: 2px;
	float: left;
	display: inline;
}

.singlepa {
	margin: 10px 5px 5px 15px;
	padding: 5px;
	cursor: pointer;
	border-bottom: 1px dotted #fff;
}

.active-pa {
	border: 1px dotted red;
}
